/*Default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-seriff;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}

/*global*/
.container{
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: orange;
}
/*navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 4px solid orange;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar h2 a{
    color: #fff;
    text-decoration: none;
}

#navbar li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}

#navbar li a:hover{
    background-color: orange;
}

/*showcase*/
#showcase{
    background: url(../img/display.jpg) no-repeat center center/cover;
    height: 90vh;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 360px;
    left: 0;
    bottom: o;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: white;
}

.showcase-content {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/*about*/
#about{
    padding: 5rem 0;
}

#about h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 3rem;
}
#about p{
    margin-bottom: 1rem;
    color: orange;
    font-weight: bold;
}

#about .about-content{
    display: inline-flex;
}
#about .about-text,
#about .about-image{
    flex: 1;
}
#about .about-text {
    text-align: center;
}
#about .about-image img {
    display: block;
    margin-left: auto;
    height: 75%;
    width: 55%;
    border-radius: 30%;
    margin-top: 20px;
}